USE [TheSpaceCoffee]
GO
/****** Object:  Table [dbo].[tbChiTietGioHang]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietGioHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GioHangId] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietHoaDonBan]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHoaDonBan](
	[MaHoaDon] [uniqueidentifier] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[GiaBan] [money] NULL,
	[GiamGia] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK__tbChiTie__52F2A93ED9FFE6AD] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDanhGiaSanPham]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDanhGiaSanPham](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [uniqueidentifier] NULL,
	[MaSanPham] [int] NULL,
	[SoSao] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbGioHang]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGioHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDonBan]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBan](
	[MaHoaDon] [uniqueidentifier] NOT NULL,
	[SoHoaDon] [nvarchar](14) NOT NULL,
	[NgayBan] [datetime] NULL,
	[TongTien] [money] NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiaChiGiaoHang] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[MaVoucher] [int] NULL,
 CONSTRAINT [PK__tbHoaDon__835ED13BE78BDB82] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[Id] [uniqueidentifier] NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[SDTKhachHang] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](255) NULL,
 CONSTRAINT [PK__tbKhachH__3214EC0779854367] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhomSanPham]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhomSanPham](
	[MaNhomSP] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomSP] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__tbNhomSa__5A1AD2F985F055E7] PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhanHoi]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[KhachHangId] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbQuanTriVien]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQuanTriVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSanPham]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[GiaBan] [money] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaNhomSP] [int] NOT NULL,
	[TonKho] [int] NULL,
 CONSTRAINT [PK__tbSanPha__FAC7442DA6D9D8DC] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTinTuc]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NgayDang] [date] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK__tbTinTuc__B53648C018B441C9] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbVoucher]    Script Date: 4/5/2026 2:55:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbVoucher](
	[MaVoucher] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [nvarchar](50) NULL,
	[PhanTramGiam] [decimal](10, 2) NULL,
	[NgayHetHan] [datetime] NULL,
	[SoTienGiamToiDa] [decimal](18, 0) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__tbVouche__0AAC5B111FA9B96E] PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'2d09890b-4f89-41cb-86b3-16ccd8b7af28', 1, 39000.0000, 0, 1, 39000.0000)
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'77c15844-e87b-41dd-a0b7-4cf1a41acadc', 1, 39000.0000, 3900, 1, 39000.0000)
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'11548628-2561-426d-8cba-4f48b86b0490', 1, 39000.0000, 7800, 1, 39000.0000)
GO
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [SoHoaDon], [NgayBan], [TongTien], [CustomerId], [TrangThai], [DiaChiGiaoHang], [SoDienThoai], [MaVoucher]) VALUES (N'ff99e863-0f15-4369-bbf5-1179e585dff4', N'84939', CAST(N'2026-04-05T14:36:01.117' AS DateTime), 35100.0000, N'17aa2083-b9aa-4486-9629-4fc3ac2cd624', N'Chờ duyệt', N'số 19 Cầu Giấy Hà Nội', N'0019218982', 4)
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [SoHoaDon], [NgayBan], [TongTien], [CustomerId], [TrangThai], [DiaChiGiaoHang], [SoDienThoai], [MaVoucher]) VALUES (N'2d09890b-4f89-41cb-86b3-16ccd8b7af28', N'80', CAST(N'2026-04-05T00:39:10.900' AS DateTime), 39000.0000, N'fbb4134a-314b-43d5-b2cc-447b79e46663', NULL, NULL, NULL, NULL)
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [SoHoaDon], [NgayBan], [TongTien], [CustomerId], [TrangThai], [DiaChiGiaoHang], [SoDienThoai], [MaVoucher]) VALUES (N'e3ae04f0-0dbc-4b31-a7ff-47f8da46e250', N'9389', CAST(N'2026-04-05T14:39:46.790' AS DateTime), 77600.0000, N'e26d015d-42f2-4ef8-af45-ea5f21b8421b', N'đã xong', N'số 19 Cầu Giấy Hà Nội', N'0019218982', 5)
GO
INSERT [dbo].[tbKhachHang] ([Id], [TenKhachHang], [SDTKhachHang], [DiaChi], [Email], [MatKhau]) VALUES (N'fbb4134a-314b-43d5-b2cc-447b79e46663', N'Đỗ Văn An', N'0386137558', N'dsvdsdv', N'an2508k4sv3@gmail.com', N'25082004')
INSERT [dbo].[tbKhachHang] ([Id], [TenKhachHang], [SDTKhachHang], [DiaChi], [Email], [MatKhau]) VALUES (N'17aa2083-b9aa-4486-9629-4fc3ac2cd624', N'Trần Văn D', N'0019218982', N'số 19 Cầu Giấy Hà Nội', NULL, NULL)
INSERT [dbo].[tbKhachHang] ([Id], [TenKhachHang], [SDTKhachHang], [DiaChi], [Email], [MatKhau]) VALUES (N'cb415206-080f-4625-95cf-5e85cdc0e0b3', N'sda', N'0213123411', N'ád', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbNhomSanPham] ON 

INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (1, N'Cà phê')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (2, N'Trà')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (3, N'Trà sữa')
SET IDENTITY_INSERT [dbo].[tbNhomSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[tbQuanTriVien] ON 

INSERT [dbo].[tbQuanTriVien] ([Id], [TenNguoiDung], [MatKhau]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
SET IDENTITY_INSERT [dbo].[tbQuanTriVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tbSanPham] ON 

SET IDENTITY_INSERT [dbo].[tbSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTinTuc] ON 

INSERT [dbo].[tbTinTuc] ([MaTinTuc], [TieuDe], [NgayDang], [NoiDung], [HinhAnh]) VALUES (2, N'Ưu đãi đặc biệt tháng này', CAST(N'2025-02-05' AS Date), N'Tháng này, CafedeLiem gửi đến bạn những ưu đãi hấp dẫn dành riêng cho người yêu cà phê: 
- Giảm 20% cho tất cả đồ uống mang đi. 
- Mua 2 tặng 1 cho mọi loại cà phê trong menu. 
- Tặng thẻ thành viên tích điểm cho khách hàng thân thiết. 
Đừng bỏ lỡ cơ hội thưởng thức hương vị cà phê đậm đà cùng những phần quà dễ thương từ CafedeLiem. 
Chương trình áp dụng đến hết tháng này tại tất cả các chi nhánh.', N'tt00002.jpg')
INSERT [dbo].[tbTinTuc] ([MaTinTuc], [TieuDe], [NgayDang], [NoiDung], [HinhAnh]) VALUES (3, N'Thư giãn cùng hương cà phê sáng tạo', CAST(N'2025-03-10' AS Date), N'Mỗi tách cà phê tại CafedeLiem đều được pha chế bằng niềm đam mê và sự tỉ mỉ. 
Từ cappuccino mềm mịn đến cold brew mát lạnh, mỗi hương vị đều mang dấu ấn riêng. 
Hãy chọn cho mình một góc nhỏ yên tĩnh, nghe nhạc nhẹ và để hương cà phê lan tỏa, giúp bạn khởi đầu ngày mới đầy cảm hứng.', N'tt00003.jpg')
SET IDENTITY_INSERT [dbo].[tbTinTuc] OFF
GO
SET IDENTITY_INSERT [dbo].[tbVoucher] ON 

INSERT [dbo].[tbVoucher] ([MaVoucher], [MaCode], [PhanTramGiam], [NgayHetHan], [SoTienGiamToiDa], [IsActive]) VALUES (4, N'SALE10', CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-12-31T00:00:00.000' AS DateTime), CAST(50000 AS Decimal(18, 0)), 1)
INSERT [dbo].[tbVoucher] ([MaVoucher], [MaCode], [PhanTramGiam], [NgayHetHan], [SoTienGiamToiDa], [IsActive]) VALUES (5, N'SALE20', CAST(20.00 AS Decimal(10, 2)), CAST(N'2026-12-31T00:00:00.000' AS DateTime), CAST(100000 AS Decimal(18, 0)), 1)
INSERT [dbo].[tbVoucher] ([MaVoucher], [MaCode], [PhanTramGiam], [NgayHetHan], [SoTienGiamToiDa], [IsActive]) VALUES (6, N'SALE15', CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-04-30T00:00:00.000' AS DateTime), CAST(50000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[tbVoucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbVouche__152C7C5C883CF6E0]    Script Date: 4/5/2026 2:55:05 PM ******/
ALTER TABLE [dbo].[tbVoucher] ADD  CONSTRAINT [UQ__tbVouche__152C7C5C883CF6E0] UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbVoucher] ADD  CONSTRAINT [DF_tbVoucher_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang] FOREIGN KEY([GioHangId])
REFERENCES [dbo].[tbGioHang] ([Id])
GO
ALTER TABLE [dbo].[tbChiTietGioHang] CHECK CONSTRAINT [FK_GioHang]
GO
ALTER TABLE [dbo].[tbChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_GioHang] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbChiTietGioHang] CHECK CONSTRAINT [FK_SanPham_GioHang]
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbChiTiet__MaHoa__440B1D61] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tbHoaDonBan] ([MaHoaDon])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan] CHECK CONSTRAINT [FK__tbChiTiet__MaHoa__440B1D61]
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbChiTiet__MaSan__44FF419A] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan] CHECK CONSTRAINT [FK__tbChiTiet__MaSan__44FF419A]
GO
ALTER TABLE [dbo].[tbDanhGiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK__tbDanhGia__Khach__71D1E811] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[tbKhachHang] ([Id])
GO
ALTER TABLE [dbo].[tbDanhGiaSanPham] CHECK CONSTRAINT [FK__tbDanhGia__Khach__71D1E811]
GO
ALTER TABLE [dbo].[tbDanhGiaSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK__tbHoaDonB__Custo__45F365D3] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tbKhachHang] ([Id])
GO
ALTER TABLE [dbo].[tbHoaDonBan] CHECK CONSTRAINT [FK__tbHoaDonB__Custo__45F365D3]
GO
ALTER TABLE [dbo].[tbHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Voucher] FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[tbVoucher] ([MaVoucher])
GO
ALTER TABLE [dbo].[tbHoaDonBan] CHECK CONSTRAINT [FK_HoaDon_Voucher]
GO
ALTER TABLE [dbo].[tbPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_KH] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[tbKhachHang] ([Id])
GO
ALTER TABLE [dbo].[tbPhanHoi] CHECK CONSTRAINT [FK_PhanHoi_KH]
GO
ALTER TABLE [dbo].[tbSanPham]  WITH CHECK ADD  CONSTRAINT [FK__tbSanPham__MaNho__46E78A0C] FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[tbNhomSanPham] ([MaNhomSP])
GO
ALTER TABLE [dbo].[tbSanPham] CHECK CONSTRAINT [FK__tbSanPham__MaNho__46E78A0C]
GO
