<a asp-controller="Cart" asp-action="Index" class="cart-widget" id="cartWidgetBtn">
    <div class="cart-icon-wrap">
        <i class="fas fa-shopping-bag"></i>
        <span class="cart-count">@Model</span>
    </div>
    <span class="cart-ripple"></span>
</a>
